<div class="movie__box">
  <p-toast />
  @for (movie of movies; track movie) {
  <div class="movie__data">
    <div class="movie__delete">
      <a class="pi pi-trash" (click)="deleteMovie(movie)"></a>
      <a class="pi pi-pencil" (click)="editMovie(movie)"></a>
    </div>

    <a class="movie__title">{{ movie.Title }}</a>
    <div class="movie__launch">
      <a>Data de Lançamento:</a>
      <a> </a>
      <a>{{ movie.Released | date : "dd/MM/yyyy" }}</a>
    </div>
    <div class="review__stars">
      <a class="box__office">Box Office:</a>
      <a>{{ movie.BoxOffice }}</a>
    </div>
    <div class="movie__duration">
      <a>Duração:</a>
      <a>{{ movie.Runtime }}</a>
    </div>
    <p-rating [(ngModel)]="movie.imdbRating" [readonly]="true" [stars]="10" />
    <div class="movie__interactions">
      <a (click)="interactWithMovie(movie, { watchLater: true }, 'favorite')"
        >Like</a
      >
      <a (click)="interactWithMovie(movie, { watched: true }, 'watched')"
        >Assistido</a
      >
      <a (click)="interactWithMovie(movie, { blackList: true }, 'blacklist')"
        >Dislike</a
      >
    </div>
    <div>
      <a>{{ movie.Plot }}</a>
    </div>
  </div>
  }
</div>
